

.trainingdiv{
    background-color: var(--bgcolor);
    padding-block: 5rem;
}

.trainingdiv h1{
    text-align: center;
    color: #fff;
    font-size: 5rem;
    font-family: "Bebas Neue", serif;
}

.trainingdiv span{
    color: var(--maincolor);
}

.trainingdiv p{
    font-family: "Poppins", serif;
    font-size: 1.6rem;
    text-align: center;
    color: #fff;
}




.swiper {
    width: 100%;
    height: 100%;
  }
  
  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background-color: var(--bgcolor);
    padding-block: 5rem;
    padding-inline: 6rem;
    /* Center slide text vertically */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
  }
  
  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

  .starmaindiv{
    display: flex;
    gap: 1rem;
    padding-top: 1rem;
  }

  .maincontent{
    background-color: black;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .maincontent h2{
    font-size: 3rem;
    font-family: "Bebas Neue", serif;
    color: #fff;
    padding-block: 1rem;
  }


  .star{
    height: 20px !important;
    width: 20px !important;
  }